#################
#Temporary files#
#################
*.swp
*.pyc
.env/*

###############
# Other files #
###############
.ipynb_checkpoints/*
ref/*
test.ipynb
__pycache__/*
.idea/*
MNIST_data/*
Flickr_Data/*
Flickr_Data.zip
encoded_images
